/* body */
body{
    margin: 0  auto;
    max-width: 80em;
}

/* headings */
h1,h2,h3,h4,h4{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2.5em;
    font-weight: 700;
}
h2{
    font-size: 1.8em;
    font-weight: 600;
}
h3{
    font-size: 1.6em;
    font-weight: 600;
}
/* tekst */
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
}




/* main header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    scroll-behavior: smooth;
    background-color: white;
    width: 100%;

}
.fullheader{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 60px;
}
    /* menu */
    ul{
        display: flex;
        flex-direction: row;
        column-gap: 32px;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    li a{
        color: black;
        text-decoration: none;
        background-color: white;
        font-weight: 500;
        cursor: pointer;
    }
    a:hover{
        background-color: white;
        color: orangered;
    }
    .draai{
        background-color: orangered;
        border-radius: 12px;
        padding: 16px 24px;
        font-weight: 500;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        max-width: max-content;
    }
    .draai:hover{
        background-color: rgb(0, 0, 0);
        color:white;
        transition: ease-in 0.3s;
        cursor: pointer;
    }

/* section 1 */
.section1 {
    height: 100vh;
    padding-top: 100px ;
}
.row1{
    display: flex;
    flex-direction: column;
    column-gap: 0px;
}
.row1 h1{
    max-width: 8em;
}
.row1 h2{
    margin-top: 0px;
    max-width: 16em;
    color: orangered;
}
/* row2 */
.devider{
    border-bottom: 1px solid black;
    margin-bottom: 32px;
    margin-top: 32px;
}
.row2{
    display: grid;
    padding: 0px 0px;
}

/* grid style */
.fullgrid{
    background-color: white;
    display: grid;
    width: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}
/* grid layout */

/* card style */
.card{
    border-radius: 12px;
    padding: 32px;
    width: 200px;
    background-color: white ;
    box-shadow: 0px 10px 15px rgba(110, 109, 109, 0.123);

}
/* card button */
.card button{
    padding: 12px 24px;
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}
.card button:hover{
    background-color: white;
        color:black;
        transition: ease-in 0.3s;
        cursor: pointer;
        box-shadow: 0px 10px 15px rgba(110, 109, 109, 0.123);
}

/* WHEEL PAGE */
/* wheel */
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    
    width:700px;
    height:700px;
    top:100px;
    left:0;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:170px;
    left:950px;
}
#question h1{
    font-size: 32px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:60%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}